gunicorn
arxiv
anthropic
chromadb
cohere
Django
django-allauth
FlashRank
groq
langchain
langchain-anthropic
langchain-chroma
langchain-cohere
langchain-community
langchain-contrib
langchain-core
langchain-groq
langchain-openai
langchain-pinecone
langchain-text-splitters
langchain-together
langchainhub
langdetect
langsmith
lxml
Markdown==3.5.2
oauthlib
openai
pgvector
posthog
psycopg2-binary
PyMuPDF
PyMuPDFb
PyPDF2==3.0.1
PyPDF4==1.27.0
pypdfium2==4.29.0
semanticscholar==0.7.0
serpapi==0.1.5
