gunicorn
arxiv
anthropic
chromadb
cohere
Django
django-allauth
FlashRank
groq
langchain
langchain-anthropic
langchain-chroma
langchain-cohere
langchain-community
langchain-contrib
langchain-core
langchain-groq
langchain-openai
langchain-pinecone
langchain-text-splitters
langchain-together
langchainhub
langdetect
langsmith
llama-hub
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-embeddings-together
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-cohere
llama-index-llms-groq
llama-index-llms-langchain
llama-index-llms-openai
llama-index-llms-openai-like
llama-index-llms-openrouter
llama-index-llms-together
llama-index-multi-modal-llms-gemini
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-readers-papers
llama-index-readers-s3
llama-index-readers-semanticscholar
llama-index-readers-web
llama-index-vector-stores-chroma
llama-index-vector-stores-pinecone
llama-parse
llamaindex-py-client
llmsherpa
lxml
Markdown==3.5.2
oauthlib
openai
pgvector
posthog
psycopg2-binary
PyMuPDF
PyMuPDFb
PyPDF2==3.0.1
PyPDF4==1.27.0
pypdfium2==4.29.0
semanticscholar==0.7.0
serpapi==0.1.5
